
@{
    ViewBag.Title = "_ValidationScriptsPartial";
}

<h2>_ValidationScriptsPartial</h2>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
